@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header {
    display: flex;
    width: 100%;
    height: 44px;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
    user-select: none;
}

main .loading {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
main .loading img{
  height: 54px;
  width: 54px;
  user-select: none;
  pointer-events: none;
}


main .loading p {
  font-size: 18px;
  font-weight: 400;
}

main form {
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    border: 1px solid #eaeced;
    width: 460px;
    height: auto;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 50px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.logosms {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 50px;
}

.logosms img {
  user-select: none;
  pointer-events: none;
  
  width: 124px;
}

.logo img {
    width: 110px;
    user-select: none;
    pointer-events: none;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 15px;
  padding-top: 15px;
}

.text p {
  color: #2c2e2f;
  font-size: 15px;
  font-weight: 400;
}

.change {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 15px;
}

.change p {
  padding-right: 10px;
  color: #2c2e2f;
  font-size: 18px;
  font-weight: 500;
}

.change a {
  color: #1072eb;
  text-decoration: none;
  font-weight: 500;
  transition: color .2s ease-out;
}

.change a:hover {
  text-decoration: underline;
}

.input-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }

  .logosms .input-container {
    position: relative;
    width: 100%;
    margin-bottom: 0px;
  }
  .code-input {
    width: 45px;
    height: 60px;
    text-align: center;
    font-size: 24px;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    background: transparent;
    outline: none;
}
.code-input:focus {
    border-color: #007AFF;
}
.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #007AFF;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

  .input-container input[type="tel"] {
    font-size: 17px;
    line-height: 21px;
    font-weight: 400;
    height: 64px;
    width: 100%;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 40px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    letter-spacing: -.022em;
    border: 0.0625rem solid #9da3a6;
    background-color: #fff;
    outline: none;
    border-radius: 4px;
    color: #001435;

  }
  
  .input-container input[type="text"] {
    font-size: 17px;
    line-height: 21px;
    font-weight: 400;
    height: 64px;
    width: 100%;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    letter-spacing: -.022em;
    border: 0.0625rem solid #9da3a6;
    background-color: #fff;
    outline: none;
    border-radius: 4px;
    color: #001435;

  }

  .input-container input[type="password"] {
    font-size: 17px;
    line-height: 21px;
    font-weight: 400;
    height: 64px;
    width: 100%;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    letter-spacing: -.022em;
    border: 0.0625rem solid #9da3a6;
    background-color: #fff;
    outline: none;
    border-radius: 4px;
    color: #001435;

  }

  .input-container input:focus {
    border-color: #0071e3;
    border-width: 2px;
    box-shadow: 0px 0px 2px 6px #0071e32d;
  }
  
  .input-container .label {
    position: absolute;
    left: 10px;
    top: 20px;
    color: #6e6e73ce;
    transition: all 0.3s ease;
    pointer-events: none;
    transition: .2s ease all;
    line-height: 1.23536;
    font-weight: 400;
    height: 30px;
  }

  .input-container input[type="password"]:focus ~ .label,
  .input-container input[type="password"]:valid ~ .label {
    top: 8px;
    bottom: 10px;
    left: 12px;
    font-size: 14px;
    height: 30px;
    opacity: 1;
    color: #6c7378;

  }
  
  .input-container input[type="text"]:focus ~ .label,
  .input-container input[type="text"]:valid ~ .label {
    top: 8px;
    bottom: 10px;
    left: 12px;
    font-size: 14px;
    height: 30px;
    opacity: 1;
    color: #6c7378;

  }

  .bot {
    display: flex;
    flex-direction: column;
  }

  .bot .first {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }

  .bot .first p {
    color: #0070e0;
    font-style: normal;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    cursor: pointer;
    padding-bottom: 25px;
  }

  .bot .first p:hover {
    color: #0070e0a2;
  }

  .logosms a {
    text-decoration: none;
    color: #0058e6;
    padding: 20px;
    cursor: pointer;
  }

  .bot .first button {
    width: 100%;
    min-width: 6rem;
    padding: 0.75rem 2rem;
    border: 0 solid #0544b5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0544b5;
    border-radius: 100px;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    transition: background-color .2s ease;
  }

  .bot .first a:hover {
    background-color: #246bee;
  }

  .bot .mid{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .bot .mid hr {
    width: 100%;
    border: 0;
    height: 1px;
    background: #d6d5d5;
    background-image: linear-gradient(to right, #ccc, #d6d6d660, #ccc);
  }

  .bot .mid span {
    padding: 0 0.5em;
    color: #6c7378a4;
    font-size: 15px;
  }

  .bot .second a {
    width: 100%;
    font-weight: 400;
    margin-top: 20px;
    min-width: 6rem;
    padding: 0.75rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 100px;
    text-decoration: none;
    color: #001435;
    border: 0.0625rem solid #001435;
    font-size: 1rem;
    transition: color .2s ease, background-color .2s ease, border-color .2s ease;
  }

  .bot .second a:hover {
    border: 0.0625rem solid #246bee;
    color: #246bee;
  }

  .bot .third {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .bot .third a {
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    color: #545d68b7;
  }

  .bot .third hr {
    width: 1px;
    border: 0;
    height: 100%;
    background: #d6d5d5;
   
  }

  .bot .third .active {
    color: #545d68;
    
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 49px;
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 14px;
    background-color: #F7F9FA;
}

footer p {
    color: #545d68;
    white-space: nowrap;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 500;
    cursor: pointer;
}

@media screen and (max-width: 800px){
    header {
        display: none;
}
.bot .third a {
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  color: #545d68b7;
}
    main form {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    border: 0px solid #eaeced;
    height: auto;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 0px;
}
.code-input {
  width: 40px;
  height: 55px;
  text-align: center;
  font-size: 24px;
  border: 1px solid #9c9c9c;
  border-radius: 5px;
  background: transparent;
  outline: none;
}

footer {
  display: block;
  align-items: center;
  justify-content: center;
  height: 49px;
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 14px;
  background-color: #F7F9FA;
}

}
